<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 align="center">Comments: </h3>
                   <hr />
            <%= form_for([@project, @comment], remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
              <div class="form-group">
                 <div class="control-label col-md-2">
                   
                    <%= f.label :description, " Add Comment" %> 
                 </div>
                 <div class="col-md-8">
                   <%= f.text_area :description, rows: 5, class: 'form-control', placeholder: "Add comment here.." %>
                 </div>
               </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <%= f.submit "Submit comment", class: "btn btn-primary" %> 
                </div>
              </div>
          <% end %>
          <hr />
        </p>
    </div>
  </div>