<%= render "layouts/flash" %>
<div class="container">
  <div class="row toppie">
    <h2 align="center">Edit Project</h2>
  </div>

    <% render "projects/errors" %>
    <%= render "projects/form" %>
</div>